<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

<div id="enter">
    <p v-for="item in items">{{ item.message }}</p>
    <p> Ваш вариант: {{message}}</p>
    <input v-model="message" placeholder="Назовите Ваш город"><button v-on:click="addPlayer">Вот он, мой вариант</button>
    <div class="b-popup" v-if="seen">
        <div class="b-popup-content">
            {{error}}
            <button v-on:click="closePopUp">Ок, дайте ка еще попробую...</button>
        </div>
    </div>
</div>



<script>
    let enter = new Vue({
        el: '#enter',
        data: {
            items: [
                { message: '' }
            ],
            message: '',
            error: '',
            seen: false
        },
        methods: {
            addPlayer: function () {
                player()
            },
            closePopUp: function () {
                enter.seen = false
            }
        }
    });

    let list = ["ahmedabad", "damascus", "delhi", "izmir", "innsbruck", "kawasaki", "karachi",
        "islamabad", "dalian", "nanjing", "glasgow", "wuhan", "naples", "sydney", "yangon", "rome",
        "yerevan", "esfahan", "eilat", "tabriz", "zibo", "oslo", "odessa", "anshan", "adana"],

    oldList = [],


    player = () => {
        playerWord = enter.message.toLowerCase();
        if(oldList.indexOf(playerWord) !== -1){
            enter.error = 'Такой город уже был';
            enter.message = '';
            enter.seen = true
        }else if(list.indexOf(playerWord) == -1){
            enter.error = 'Такого города не существует';
            enter.message = '';
            enter.seen = true
        }else{
            enter.items.push({message: 'Ваш вариант: ' + playerWord});
            enter.message = '';
            deleteCityB(playerWord, bot);
        }
    },

    deleteCityP = (answer, func) => {
        for (i = 0; i < list.length; i++) {
             tempCity = list[i];
             if (tempCity == answer) {
                 oldList.push([list.splice(i, 1)].join());
             }
        }
    },

    deleteCityB = (answer, func) => {
        for (i = 0; i < list.length; i++) {
            tempCity = list[i];
            if (tempCity == answer) {
                oldList.push([list.splice(i, 1)].join());
                return func();
            }
        }
    },

    bot = () => {
        lastChar = playerWord.charAt(playerWord.length - 1);
        i = 0;
        firstChar = '';
        while(firstChar !== lastChar || i == list.length){
            if(!list[i]) break;
            firstChar = list[i].charAt(0);
            i++;
        };
         if(firstChar == lastChar){
            tempAnswer = list[i-1];
            enter.items.push({message: 'Бот: ' + tempAnswer});
            deleteCityP(tempAnswer, player)
        }else{
             enter.error = 'Вы победитель';
        }
    }
</script>

<style>
    .b-popup{
        width:100%;
        min-height:100%;
        background-color: rgba(0,0,0,0.5);
        overflow:hidden;
        position:fixed;
        top:0px;
    }
    .b-popup .b-popup-content{
        margin:40px auto 0px auto;
        width:200px;
        height:50px;
        padding:10px;
        background-color: #c5c5c5;
        border-radius:5px;
        box-shadow: 0px 0px 10px #000;
    }
</style>
</body>
</html>